<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.nagwa.MATHPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OpenType MATH Plug-in</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.7</string>
	<key>CFBundleVersion</key>
	<string>1.5.7</string>
	<key>UpdateFeedURL</key>
	<string>https://github.com/Nagwa-Limited-Community/Glyphs-MATH-Plugin/blob/main/MATHPlugin.glyphsPlugin/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/Nagwa-Limited-Community/Glyphs-MATH-Plugin</string>
	<key>productReleaseNotes</key>
	<string>Various bug fixes.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Nagwa Limited, 2021</string>
	<key>NSPrincipalClass</key>
	<string>MATHPlugin</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
